<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Creator_ID:</strong>
    <%= event.creator.id %>
  </p>

  <h2>Attendees</h2>
  <% event.attendees.each do |attendee| %>
    <p>
      <%# <strong>Name:</strong> %>
      <%= attendee.email %>
    </p>
  <% end %>
</div>
