<% if user_signed_in? %>
  <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
  <br>
  <%# <%= button_to("Create New Event", new_event_path, method: :get) %>
<% else %>
  <%= button_to("Sign In", new_user_session_path,method: :get) %>
  <br>
  <%= button_to("Sign Up", new_user_registration_path,method: :get) %>
<% end %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <br>
  <% end %>
</div>
