<% if user_signed_in? %>
  <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
  <br>
  <%= button_to("My Events", user_path(current_user), method: :get) %>
  <br>
  <%= button_to("Create New Event", new_event_path, method: :get) %>
<% else %>
  <%= button_to("Sign In", new_user_session_path,method: :get) %>
  <br>
  <%= button_to("Sign Up", new_user_registration_path,method: :get) %>
<% end %>

<div id="events">
  <h1>Past Events</h1>
  <% @past_events.each do |past_event| %>
    <p>
      <h2><%= past_event.name %></h2>
      <p><%= past_event.date %></p>
    </p>
    <%= link_to "View", event_path(past_event) %>
  <% end %>

  <br><br>

  <h1>Future Events</h1>
  <% @future_events.each do |future_event| %>
    <p>
      <h2><%= future_event.name %></h2>
      <p><%= future_event.date %></p>
    </p>
    <%= link_to "View", event_path(future_event) %>
  <% end %>
</div>
