<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <% if user_signed_in? %>
    <%= button_to "Attend This Event", attendances_path,
                                       params: { attendance: { attended_event_id: @event.id } } %>
    <br><br>
  <% end %>
  <%# <%= link_to "Edit this event", edit_event_path(@event) %>
  <% if request.referer.include?("/users") %>
    <%= link_to "Back to my events", user_path(current_user) %>
  <% else %>
    <%= link_to "Back to events", events_path %>
  <% end %>
  <br><br>
  <%# <%= button_to "Destroy this event", @event, method: :delete %>
</div>
